.container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 0 100px;
  color: white;
}
.title {
  width: 980px;
  margin: 50px auto 35px;
  font-size: 2rem;
  font-weight: bold;
}
