.container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 0 100px;
  color: white;
}
.top {
  width: 980px;
  display: flex;
  margin: 50px auto 40px;
  gap: 20px;
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-right: auto;
}
