.container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 0 100px;
  color: white;
}
.top {
  width: 980px;
  display: flex;
  margin: 50px auto 40px;
  gap: 20px;
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-right: auto;
}
.bottom {
  width: 980px;
  margin: 60px auto 0;
  position: relative;
}
.pageCount {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: rgb(180, 180, 180);
  font-size: 0.9rem;
}
