.movie_box {
  width: 180px;
  height: 330px;
  cursor: pointer;
  position: relative;
}
.carousel_box {
  flex: 0 0 230px;
  width: 230px;
  height: 400px;
}
.movie_img {
  border-radius: 5px;
  width: 180px;
}
.carousel_img {
  width: 230px;
}
.plus_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}
.plus_btn:hover {
  opacity: 1;
}
.plus_img {
  width: 30px;
  height: 30px;
}
.movie_title {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchTerm {
  color: red;
}
.rating_box {
  display: flex;
  line-height: 2;
  align-items: center;
  gap: 5px;
}
.rating_img {
  width: 16px;
  height: 16px;
}
