.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}
.loading_text {
  color: white;
}
.error_message {
  color: red;
}
.main {
  width: 100%;
  margin-top: 80px;
  color: white;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  margin: 50px 0 25px;
  padding: 0 80px;
  font-size: 2rem;
  font-weight: bold;
}
